{% extends "base.html" %}
    
    {% block lab %} Лабораторные работы {% endblock %}
    
    {% block main %}
        <header>
            <h1>НГТУ, ФБ, WEB-программирование, часть 2. Список лабораторных</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/lab1">Первая лабораторная</a></li>
            </ul>
            <ul>
                <li><a href="/lab2">Вторая лабораторная</a></li>
            </ul>
            <ul>
                <li><a href="/lab3/">Третья лабораторная</a></li>
            </ul>
            <ul>
                <li><a href="/lab4/">Четвертая лабораторная</a></li>
            </ul>
            <ul>
                <li><a href="/lab5/">Пятая лабораторная</a></li>
            </ul>
            <ul>
                <li><a href="/lab6/">Шестая лабораторная</a></li>
            </ul>
        </nav>
        <footer>
            &copy; Кузьменко Екатерина, ФБИ-23, 3 курс, 2024
        </footer>
{% endblock %}