{% block main %}
    <h1>Вход</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Войти</button>
        <a href="/rgz/register">Нет, аккаунта? Нажми сюда чтобы зарегистрироваться!</a>
    </form>
{% endblock %}